# OPENAI
# export GOLLUM_OPENAI_API_KEY=$(gopass show -o arbeit/llm/zai/api_key)
# export GOLLUM_OPENAI_BASE_URL=https://api.z.ai/api/paas/v4
# export GOLLUM_OPENAI_MODEL=glm-4.7

# ANTHROPIC
export GOLLUM_ANTHROPIC_API_KEY=$(gopass show -o arbeit/llm/zai/api_key)
export GOLLUM_ANTHROPIC_BASE_URL=https://api.z.ai/api/anthropic
export GOLLUM_ANTHROPIC_MODEL=glm-4.7
