# Gollum MCP Client API Keys
export EXA_API_KEY=$(gopass show -o apps/exa/api_key)
export TAVILY_API_KEY=$(gopass show -o apps/tavily/api_key)
export FORGEJO_ACCESS_TOKEN=$(gopass show -o arbeit/k8s/forgejo/access_token)

# OPENAI
export OPENAI_API_KEY=$(gopass show -o arbeit/llm/zai/api_key)
export OPENAI_BASE_URL=https://api.z.ai/api/paas/v4
export OPENAI_MODEL=glm-4.7

# ANTHROPIC
export ANTHROPIC_API_KEY=$(gopass show -o arbeit/llm/zai/api_key)
export ANTHROPIC_BASE_URL=https://api.z.ai/api/anthropic
export ANTHROPIC_MODEL=glm-4.7
